@CHARSET "UTF-8";
@font-face {
	font-family: yueyuan;
	src: url('../font/yueyuan.otf');
}
html,body,h1,div,span,form,input,h1,h3{
	padding:0;
	margin: 0;
}
body{
	width:100%;
	height: 100% !important;
	font-size: 14px;
	font-family: 'Arial';
	background-color: #F7FAFC;
	/*background:#16a085;*/
	overflow: hidden;
}
canvas{z-index:-1;position:absolute;}
.main_con{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
h1{
	text-align: center;
	margin: 150px auto 30px;
	font-size: 45px;
	color: #a71e32;
	font-family: yueyuan;
}
h3{
	text-align: center;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #a71e32;
	
}

form{
	width: 26%;
	margin: 30px auto;
	
}
.username{
   	width:100%;
    margin: 7px auto 3px;
}
.tip_error{
	height: 15px;
	color: #EA2000;
}
.login{
	margin-top: 30px;
}
input{
    -webkit-appearance: none;
	width:100%;
	height: 45px;
	line-height: 45px;
	text-indent: 8px;
	border:1px solid #ccc;
	color:#333;
	outline:none;
	border-radius: 4px;
	font-size: 16px;
}
input:focus{
   border-color: #0F88EB;
}
.login input{
    -webkit-appearance: none;
    width:100%;
   	height: 50px;
   	color:#fff;
   	text-align: center;
   	line-height: 40px;
   	background-color:  #ed8b8b;
   	outline: none;
   	border:0;
   	border-radius: 4px;
   	cursor: pointer;
   	font-size: 18px;
}
.login input:hover{
	opacity: 0.9;
	filter: alpha(opacity = 90);
}