<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Giant Bank</title>
<link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
	<div class="main_con">
		<h1>Giant Bank</h1>
		<h3>Administrator Login</h3>
		<form class="LoginForm">
			<div class="username">
				<input type="text" placeholder="Username" name="username" class="uname">
			</div>
			<!-- input is blank -->
			<div class="tip_error err_name"></div>
			<div class="username">
				<input type="password" placeholder="Password" name="password" class="upwd">
			</div>
			<!-- input is blank -->
			<div class="tip_error err_pwd"></div>
			<div class="login">
				<input type="button" value="Submit" id="submitLogin">
			</div>
		</form>
	</div>
	
	<script src="../js/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="../js/Particleground.js"></script>
	<script src="../js/admin.js"></script>
	<script>
		$(document).ready(function() {
		  //background
		  $('body').particleground({
		    dotColor: '#E8EAEB',
		    lineColor: '#E8EAEB'
		  });
		});
	</script>
</body>
</html>